.admin-features-bg {
  background-color: white;
}

.admin-features-bg .container {
  display: flex;
}

/* Admin feature nav */

.admin-features-choice {
  background-color: var(--athens-gray);
  width: 30%;
  margin: 0 1rem;
  padding: 2rem 0;
}

.admin-features-choice div {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
}

.admin-features-choice div + div {
  border-top: 1px solid white;
}

.admin-features-choice div a {
  margin: 1rem 0;
}

/* Admin feature block */

.admin-features-block {
  width: 70%;
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--athens-gray);
}

.admin-features-block h2 {
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
}

/* Form feature */

.form-features .field {
  padding: 2rem;
}

.form-features .field input,
.form-features .field select {
  background-color: white;
  border-radius: 5px;
  padding: 1rem 1rem;
}

.form-features .field select {
  width: 100%;
  border: 0;
}

.form-features .field input:last-child {
  cursor: pointer;
}

.form-features .field.textarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-features .field.textarea label {
  margin-bottom: 1rem;
}

.form-features .field textarea {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  padding: 1rem 1rem;
  font-size: 2rem;
}

.tox-tinymce {
  width: 100% !important;
}

.form-features .field + .field {
  border-top: 1px solid white;
}

/* Order */

.order-table {
  background-color: white;
  width: auto;
}

.order-table th {
  padding: 2rem 0;
}
.order-table th,
.order-table td {
  text-align: center;
}

.order-details,
.detail-order-bg {
  background-color: white;
}

.detail-order-bg ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.detail-order-bg ul li {
  padding: 1rem;
  font-size: 2rem;
  width: 50%;
  text-align: center;
}

.detail-order-bg ul li span {
  color: var(--text-color-secondary);
}

