@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Reset */

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  width: 100%;
  background-color: white;
}

/* General class */

input {
  display: inline-block;
}

main {
  background-color: #e3e6f3;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

button {
  display: inline-block;
  font-weight: 700;
  padding: 1.5rem 2rem;
  border-radius: var(--border-radius);
  border: none;
  align-self: center;
  color: var(--text-color-secondary);
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--text-color-secondary);
  color: white;
}

table {
  width: 100%;
  border: 1px solid var(--athens-gray);
  border-collapse: collapse;
}

table span {
  font-weight: 700;
}

tr {
  margin: 2rem 0;
}

table tr + tr {
  border-top: 1px solid var(--athens-gray);
}

tr td:nth-child(2) {
  color: var(--text-color-secondary);
  font-style: italic;
}

td {
  padding: 2rem 1rem;
}

td:nth-child(even) {
  text-align: right;
}

@media screen and (max-width: 780px) {
  h1 {
    font-size: 3rem;
  }
}

/* Common class */

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.clearfix {
  overflow: auto;
}

/* Layout */

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
  background-color: var(--athens-gray);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.header .logo {
  padding: 1rem;
}

.header-navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-navbar ul.active {
  right: 0px;
}

.header-navbar li {
  position: relative;
}

.header-navbar li a {
  padding: 1rem;
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-color-primary);
  transition: 0.3s ease;
}

.header-navbar li a:hover,
.header-navbar li a.active {
  color: var(--text-color-secondary);
}

.header-navbar li a.active::after,
.header-navbar li a:hover::after {
  content: "";
  position: absolute;
  left: 3rem;
  bottom: -0.5rem;
  width: 40%;
  height: 3px;
  background-color: var(--text-color-secondary);
}

.mobile {
  display: none;
  align-items: center;
}

.mobile i {
  padding-left: 2rem;
  font-size: 2rem;
  color: var(--text-color-primary);
}

.close {
  display: none;
  position: absolute;
  top: 0px;
  left: 30px;
  color: var(--text-color-secondary);
  font-size: 2rem;
}

@media screen and (max-width: 1100px) {
  .header-navbar ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 20vw;
    background-color: var(--athens-gray);
    box-shadow: 5px 40px 60px rgba(0, 0, 0, 0.1);
    padding: 10rem 0;
    transition: 0.3s ease-in;
  }

  .header-navbar li {
    margin-bottom: 2rem;
  }

  .mobile {
    display: flex;
  }

  .close {
    display: initial;
  }

  .lg-bag {
    display: none;
  }
}

@media screen and (max-width: 876px) {
  .header-navbar ul {
    width: 30vw;
  }
}

@media screen and (max-width: 780px) {
  .header-navbar ul {
    width: 40vw;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }

  .contact-footer .logo {
    width: 200px;
    margin: 0 auto;
  }

  .social-network ul,
  .logo-store {
    justify-content: center;
  }

  .logo-payment {
    margin: 2rem auto;
    width: 50%;
  }
}

/* Footer */

.footer {
  background-color: white;
  padding-top: 4rem;
}

.footer .container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 1.4rem;
}

.footer .contact-footer,
.footer .about-footer,
.footer .app-footer,
.footer .account-footer {
  margin: 0 3rem;
}

.social-network ul {
  display: flex;
}

.social-network i {
  font-size: 3rem;
  color: var(--text-color-primary);
  margin: 1rem 2rem 0 0;
  transition: 0.3s ease-in-out;
}

.social-network i:hover {
  color: var(--text-color-secondary);
}

.logo-store {
  display: flex;
  margin: 2rem 2rem 2rem 0;
}

.logo-payment {
  margin: 2rem 0;
  width: 50%;
}

.footer p {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-color-secondary);
}

.footer ul li {
  margin: 1rem 0;
}

.contact-footer .logo {
  width: 200px;
  margin-left: -0.5rem;
}

@media screen and (max-width: 876px) {
  .footer .container {
    flex-direction: column;
  }
}

/* Modal */

/* Backdrop */

.modal-backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.modal-backdrop.active {
  bottom: 0;
  opacity: 1;
}

/* Login & create account */

.login-modal {
  position: fixed;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  z-index: 1001;
  width: 700px;
  margin: 0 2rem;
  display: none;
}

.login-modal.active {
  display: block;
}

.login-modal .close,
.cart-modal .close {
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 0px;
  cursor: pointer;
}

.create-account-block {
  padding: 2rem;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.create-account {
  width: 700px;
  margin: 2rem auto;
}

@media screen and (max-width: 780px) {
  .create-account,
  .login-modal {
    width: auto;
  }
}

.login-modal form,
.create-account form {
  width: 100%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-modal h1,
.create-account h1 {
  margin: 0 auto;
  padding-bottom: 10px;
  font-size: 3rem;
}

.login-modal input[type="text"],
.login-modal input[type="password"],
.create-account input[type="text"],
.create-account input[type="password"],
.create-account input[type="date"],
.create-account input[type="mail"],
.create-account a {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-modal a,
.create-account a {
  display: block;
  text-align: center;
}

.login-modal input[type="submit"],
.login-modal a,
.create-account input[type="submit"],
.create-account a {
  background-color: var(--text-color-secondary);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login-modal input[type="submit"]:hover,
.login-modal a:hover,
.create-account input[type="submit"]:hover,
.create-account a:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}
